<table class="contracts-summary" >
  <tr>
    <td>
      <h3><%= l(:label_total_purchased) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="bigbold">~<%= l_hours @total_purchased_hours %></p>
    </td>
    <td>
      <h3><%= l(:label_total_remaining) %></h3>
      <% if @total_remaining_dollars >= 0.0 %>
        <p class="green bigbold"><%= number_to_currency @total_remaining_dollars %></p>
        <% else %>
          <p class="red bigbold"><%= number_to_currency @total_remaining_dollars %></p>
      <% end %>
      <p><%= l(:label_or) %></p>
      <% if @total_remaining_hours >= 0.0 %>
        <p class="blue bigbold"><%= l_hours(@total_remaining_hours) %></p>
        <% else %>
          <p class="red bigbold"><%= l_hours(@total_remaining_hours) %></p>
      <% end %>
    </td>
  </tr>
</table>
<br />
